<ion-content [fullscreen]="true">
  <!--Superior-->
  <div class="menu">
    <img src="assets/imgs/menu.png" />
  </div>
  <div class="logoverde">
    <img src="assets/imgs/logoverde.png" />
  </div>
  <div class="user">
    <img src="assets/imgs/user.png" />
  </div>

  <!--Fundos-->
  <div class="fundo1"></div>
  <div class="fundo2"></div>
  <div class="fundo3"></div>

  <!--Tênis-->
  <div class="tenis">
    <div class="tenis1-section">
      <img src="assets/imgs/tenisnike1.png" />
    </div>
  </div>
  <div class="tenis2">
    <div class="tenis2-section">
      <img src="assets/imgs/tenisazul.png" />
    </div>
  </div>
  <div class="tenis3">
    <div class="tenis3-section">
      <ion-img src="assets/imgs/tenisrosa.png"></ion-img>
    </div>
  </div>

  <div class="tenisprincipal">
    <img src="assets/imgs/Group 10.png" />
  </div>

  <!--Textos-->
  <div class="section-titulo">
    <h2 id="titulo-principal">KYRIE INFINITY</h2>
  </div>
  <div class="section-subtitulo">
    <h3 id="subtitulo">Calçados para Basquete</h3>
  </div>
  <div class="section-descricao">
    <p id="descricao">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </p>
  </div>
  <div class="container-preco">
    <p id="preco">Preço</p>
  </div>
  <div class="container-valor">
    <h2 id="valor">$ 799</h2>
  </div>

  <!--rodapé-->
  <div class="p-icon"></div>
  <div class="s-icon"></div>
  <div class="t-icon-pequeno"></div>
  <div class="p-icon"></div>
  <div class="s-icon"></div>

  <div class="share">
    <img src="assets/imgs/share.png" />
  </div>

  <div class="shop">
    <img src="assets/imgs/shop.png" />
  </div>
</ion-content>
