<ion-content [fullscreen]="true">
  <img src="assets/imgs/nikelogopequeno.png" alt="aqui" id="logo-nike" />
  <div id="elipse1"></div>
  <img src="assets/imgs/tenisnike1.png" alt="" id="tenis" />
  

  <h1 id="summer">SUMMER COLLECTIONS</h1>

  <h1 id="ano">2022</h1>
  <h2 id="txt1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta
    ante. Suspendisse a massa vitae justo lacinia accumsan.
  </h2>
  <button><a href="/produtos"> GET STARTED ➜</a></button>
</ion-content>
